.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0;
  justify-content: right;
  margin-right: 50px;
  align-items: center;
}


.btn {
  width: fit-content !important;
  margin-right: 50px !important;
  color: black !important;
  background-color: white !important;
  border-color: #198754 !important;
  text-align: center !important;
  position: unset !important;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
  margin-top: 0 !important;
  transition: none !important;
  font-weight: 400 !important;
  padding-bottom: 0.625rem !important;
  letter-spacing: 0.5px !important;
  line-height: 1.33;
}

@media screen and (max-width: 700px) {
  .layout {
    display: none;
  }
  .Dropdown {
    display: block !important;
  }
  .btn {
    margin-right: 5px !important;
  }
}
.DropMenu {
  transform: translateX(-200%);
}
.Dropdown {
  color: white;
  display: none;
  font-size: 1.5rem;
  margin-right: 30px;
  cursor: pointer;
}



.menuLink {
  color: black;
}
.dropdown .link {
  color: white;
  transition: none !important;
  font-weight: 700 !important;
  padding-bottom: 0.625rem !important;
  letter-spacing: 0.5px !important;
  line-height: 1.33;
}
.link {
  color: white;
}
.link:hover {
  color: rgb(206, 211, 211);
}

@media screen and (max-width: 1100px) {
  .link {
    font-size: 15px;
  }
}

.li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: white;
}
