@import url('https://fonts.googleapis.com/css?family=Montserrat');
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
    background-color: rgb(34, 30, 30);
    color: white;
    padding: 50px 0;
    height: 250px;
}

.body{
    display: flex;
    flex-direction: column;
    align-items:center ;
}

h1{
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 25px;

}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
}

p{
  font-size: 30px;
  margin: 30px 30px;
}
.picture{
  height: 500px;
  background-image: url('../images/ian-schneider-TamMbr4okv4-unsplash.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size:cover;
  margin-top: 0;
}

.title {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

.h {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1;
  margin: 10px 0;
  text-shadow: black  2px -5px 2px;
}

.misionText{
  display: flex;
  font-size: 35px;
  color: #FFF;
  background-color: rgba(0,0, 0,0.5);
  padding:15px;
  text-align: justify;
  text-indent: 50px;
  animation: slide 2s linear;
  border-bottom: solid 5px black;

}

@media only screen and (max-width: 1650px) {
  .infoDiv{
    height: 100%;
  }
  .page{
    background-position: bottom;
  }
}

.infoDiv{
  display: flex;
  width: 65%;
  overflow: hidden;
  height: 100vh;
  flex-direction: column;
  justify-content:space-evenly ;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

@keyframes slide {
  0% {transform:translateX(-1000px)}
  23% {transform:translateX(-800px)}
  33% {transform:translateX(-600px)}
  66% {transform:translateX(-400px)}
  66% {transform:translateX(-200px)}
  100% {transform:translateX(0px)}
}