.button {
  font-size: 25px !important;
  width: fit-content !important;
  height: fit-content !important;
  padding: 10px !important;
  background-color: white !important;
  border-color: white !important;
  border-radius: 8px !important;
  text-align: center !important;
  line-height: 25px !important;
  font-size: 800 !important;
  color: black !important;
}

.div {
  display: flex;
  color: white;
  margin-top: 50px;
}
