.button {
  font-size: 25px !important;
  width: fit-content !important;
  height: fit-content !important;
  padding: 10px !important;
  background-color: white !important;
  border-color: white !important;
  border-radius: 8px !important;
  text-align: center !important;
  line-height: 25px !important;
  font-size: 800 !important;
  background-color: white !important;
}

.div {
  display: -ms-inline-grid;
  color: white;
  justify-content: flex-start;
  margin-top: 20px;
  justify-self: flex-end;
}
