.cardDiv{
    display: flex;
    flex-direction: row;
    text-align: center;
    text-indent: 20px;
    justify-content: space-evenly;
    margin: 40px;
}

.cardBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.card{
    display: flex;
    text-align: justify;
    height: fit-content;
    flex-direction: column;
    max-width: 30%;
    height: 350px;
}

@media screen and (max-width:1770px) {
    .card{
        
    }
}