.cardDiv {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-indent: 20px;
  justify-content: space-evenly;
  margin: 20px;
  flex-wrap: wrap;
}
.cardDiv1{
  display: flex;
  flex-direction: row;
  background-color: rgba(27, 19, 19, 0.7);
  /* align-items: center; */
  align-content: center;
  justify-content:space-evenly;
  height: 100vh;
  flex-wrap: wrap;
width: 80%;

}
/* .cardDiv2{
  background-image: url('../images/cloud-software.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
align-items: center;
height: 100vh;
width: 80%;

}
.cardDiv3{
  background-image: url('../images/lagos-techie-IgUR1iX0mqM-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  width: 80%;

}
.cardDiv4{
  background-image: url('../images/science-in-hd-iPrjQEDnNEY-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
align-items: center;
height: 100vh;
width: 80%; */
/* } */
.cardBlock {
  background-image: url('../images/science-in-hd-iPrjQEDnNEY-unsplash.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background-color: rgba(27, 19, 19, 0.5);
}



.card {
  display: flex;
  text-align: justify;
  flex-direction: column;
  /* width: fit-content;
  height: fit-content; */
  width: 40%;
  font-size: 20px;
  margin: 10px;
  flex-wrap: wrap;
  box-shadow: inset 0 0px 25px black;
}

@media screen and (max-width: 1770px) {
  .card {
    height: max-content;
  }
}

.cardBody{
background-color: rgba(255, 255, 255, 0.247) !important;
}

@keyframes slide {
  0% {
    display: flex;
    transform: translateX(-100%);
  }

  20% {
    transform: translateX(-80%);
  }
  40% {
    transform: translateX(-600%);
  }
  60% {
    transform: translateX(-40%);
  }
  80% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX();
  }
}
