.background {
  display: flex;
  flex-direction: column;
  background-image: url("../../images/pexels-fauxels-3182782.jpg");
  padding: 0;
  justify-items: center;
  border: none;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600) {
  .background {
    height: 100%;
  }
}

/* .background:before {
  height: 80vh;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient( to left, white, black);
  opacity: 0.8;
} */