.background {
  display: flex;
  flex-direction: column;
  background-image: url("../../images/pexels-fauxels-3182782.jpg");
  padding: 0;
  justify-items: center;
  /* align-items: center; */
  border: none;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  /* backdrop-filter:; */
}

@media screen and (max-width: 600) {
  .background {
    height: 100%;
  }
}
