
.background{
  display: flex;
  flex-direction: column;
  background-image: url("../../images/pexels-vitaly-vlasov-1342460 (1).jpg");
  padding: 0;
  justify-items: center;
  /* align-items: center; */
  border: none;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}


@media screen and (max-width:600) {
  .background{
    height: 100%;
  }
}
