@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0;
  justify-content: right;
  margin-right: 50px;
}

.btn {
  width: fit-content;
  margin-right: 50px;
}

@media screen and (max-width: 600px) {
  .layout {
    display: none;
  }
  .Dropdown {
    display: block !important;
  }
}

.Dropdown {
  /* background-color: black; */
  color: white;
  display: none;
  width: fit-content;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 23px;
  text-align: center;
  align-items: flex-end;
  font-weight: 700;
  font-family: 'Roboto';
}

@media screen and (max-width: 1100px) {
  .link {
    font-size: 15px;
  }
}

.li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0 20px;
}
