.layout {
  display: flex;
  flex-direction: row;
  background-color: rgb(51, 46, 46);
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.linksDiv {
  display: flex;
  flex-direction: row;
  justify-content: right;
  justify-items: flex-end;
  width: 50%;
  /* margin-left: 150px; */
}

.img {
  width: 60px;
  margin: 10px;
  margin-left: 100px;
}
