.contactDiv {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 50vh;
  color: white;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .contactDiv {
    flex-direction: column !important;
    height: 100% !important;
    align-items: center !important;
  }
  .extra_info{
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

.img {
  height: 600px;
  object-fit: cover;
  object-position: top;
}

h2 {
  color: white;
  border-bottom: white 1px solid;
  border-bottom-width: thick;
  padding-bottom: 5px;
}

.extra_info {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

h2 {
  font-size: 35px;
  color: white;
  /* margin-bottom: 5px; */
}

.extra_info_specific {
  margin-bottom: 25px;
  color: white;
}


@keyframes movement {
  from {
    top: 75%;
  }
  to {
    bottom: 80%;
  }
}
