.contactDiv {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 100%;
  color: white;
  justify-content: center;
  padding-top: 20px;
}

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .contactDiv {
    flex-direction: column !important;
    height: 100% !important;
    align-items: center !important;
  }
  .extra_info {
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .contactDiv {
    flex-direction: column;
  }
}

.img {
  height: 21rem;
  object-fit: cover;
  object-position: center;
}

h2 {
  color: white;
  border-bottom: white 1px solid;
  border-bottom-width: thick;
  padding-bottom: 5px;
}

.extra_info {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
}

h2 {
  font-size: 35px;
  color: white;
  /* margin-bottom: 5px; */
}

.extra_info_specific {
  margin-bottom: 25px;
  color: white;
}
