.header {
  display: flex;
  flex-direction: column;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

@media screen and (max-width: 600px) {
  .options {
    margin-bottom: 20px !important;
  }
}

.imagesDiv {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: left;
}

.manyImgDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  justify-content: space-between;
  overflow: hidden;
}

.singleImgDiv {
  background-image: url("../../images/featured-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin: 0;
  margin-right: 10px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.singleImg {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.multipleImgTwo {
  background-image: url("../../images/featured-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 49%;
  margin-top: 1%;
  text-align: end;
  cursor: pointer;
  overflow: hidden;
}

.multipleImgTwo:hover {
  transform: scale(1.05);
  transition: ease-in-out 1s;
}
.multipleImgOne:hover {
  transform: scale(1.05);
  transition: ease-in-out 1s;
}
.singleImgDiv:hover {
  transform: scale(1.025);
  transition: ease-in-out 1s;
  overflow: hidden;
}

.multipleImgOne {
  background-image: url("../../images/featured-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 49%;
  cursor: pointer;
  margin-bottom: 1%;
}

.row {
  display: flex;
  height: 120vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-image:linear-gradient(to bottom ,#797979, black); */
  background-color: black;
}

.animationContainer {
  width: 90%;
  height: 60%;
}

@media screen and (max-width:600px) {
  .imagesDiv{
    flex-direction: column;
  }
  .manyImgDiv{
    flex-direction: row;
    justify-content: center;
  }
  .singleImgDiv{
    height: 60%;
  }
  .manyImgDiv{
    height: 50%;
    width: 100%;
  }
  .multipleImgOne{
    height: 100%;
    width: 100%;
  }
  .multipleImgTwo{
    height: 100%;
    width: 100%;
  }
}

