.header {
  display: flex;
  flex-direction: column;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

@media screen and (max-width: 600px) {
  .options {
    margin-bottom: 20px !important;
  }
}
