@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.Title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 70vh;
  margin-top: 5%;
  font-family: "Roboto";
}

.h {
  font-size: 5rem;
  color: white;
  font-weight: 600;
  font-family: "Roboto";
  text-align: left;
  padding-left: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .h {
    font-size: 45px;
  }
}

@media screen and (max-width: 400px) {
  .Title {
    margin-right: 20px;
  }
}

.button {
  font-size: 1rem;
  background: white;
  color: black;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  font-weight: 400;
  font-family: "Roboto";
  word-spacing: 0.2px;
  text-align: center;
  width: fit-content;
  margin-left: 175px;
  position: unset;
}

@media screen and (max-width: 600px) {
  .button {
    margin-top: 25px;
  }
}

.button:hover {
  color: black;
  background-color: white;
  border-color: transparent;
  box-shadow: none;
}
